<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Cyberloginit</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        Xu and Yeung Foundation is a private foundation under IRC Section 5-1(c)(3)
      </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <li>Find out more about us: </li>
          <li><a href="https://xuyeungfoundation.github.io/" target="_blank">Web Page</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul style="list-style-type:none">
          <li>Contact us: </li>
          <li><a href="mailto:xuyeungfoundation@gmail.com" target="_blank">Email to xuyeungfoundation AT gmail DOT com</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
